<div class="small-container">
  <div class="row row-2">
      <h2>All Products</h2>
      <select>
          <option>Default Sorting</option>
          <option>Sorting by Price</option>
          <option>Sortig by Popularity</option>
          <option>Sortig by Rating</option>
          <option>Sortig by Sale</option>
      </select>
  </div>
  <div class="row">
      <div class="coll-4" *ngFor="let product of allProducts">
          <a ><img src="{{apiUrl}}/{{product.imgpath}}"></a>
          <a ><h4>{{product.name}}</h4></a>
          <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
          </div>
          <p>${{product.price}}</p>
      </div>
  </div>
  <div class="page-btn">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>&#8594;</span>
  </div>
</div>

