<!-- <form [formGroup]="LoginForm" (ngSubmit)="onLogin()">
    <div class="container-fluid">
    <div class="row">
        <div class="col">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="name">Password</label>
            <input type="password" class="form-control" id="name" formControlName="password">
        </div>
    </div>
    </div>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')" (click)="resetForm(LoginForm)">Concel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!LoginForm.valid">Login</button>
</form> -->