<!------------account page--------------->
<div class="account-page">
  <div class="container">
      <div class="row">
          <div class="coll-2">
            <h1>Some Text about <br><span>Businiss</span><br>Some Text</h1>
            <p class="para">Every Web Developer must have a basic understanding of HTML, CSS, and JavaScript.<br>
                Responsive Web Design is used in all types of modern web development.
            </p>
          </div>
          <div class="coll-2">
              <div class="form-container">
                  <div class="form-btn">
                      <span (click)="toggleLogin()">Login</span>
                      <span (click)="toggleRegister()">Register</span>
                      <hr id="indicator">
                  </div>
                  <div class="form-btn" *ngIf="submitted &&  errorMessage != null">
                    <p style="color:red; text-align: center;" id="perror">{{errorMessage}}</p>
                  </div>
                  <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                      <input type="text" placeholder="Username" formControlName="email">
                      <input type="password" placeholder="Password" formControlName="password">
                      <button type="submit" class="bbtn" >Login <i class="fa fa-sign-in"></i></button>
                      <a href="#">Forgot Password</a>
                  </form>
                  <form id="regForm" [formGroup]="registerForm" (ngSubmit)="onRegister()">
                      <input type="text" placeholder="Username" formControlName="name">
                      <input type="email" placeholder="Email" formControlName="email">
                      <input type="password" placeholder="Password" formControlName="password">
                      <input type="password" placeholder="Confirm Password" formControlName="cpassword">
                      <button type="submit" class="bbtn">Register <i class="fa fa-sign-in"></i></button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>
