/* ----------cart items---------- */

.cart-page{
  margin-top: 140px;
  margin-bottom: 100px;
}

.cart-page table{
  width: 100%;
  border-collapse: collapse;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}

.cart-info .pro-info{
  padding-left: 10px;
  line-height: 22px;
}

.cart-info img{
  width: 160px;
  height: 100px;
}

.cart-page th{
  background: #ff523b;
  color: #fff;
  padding: 5px;
  text-align: left;
  font-weight: normal;
}

.cart-page td{
  padding: 10px 5px;
}

.cart-page td input{
  width: 40px;
  height: 30px;
  padding: 5px;
  border: 1px solid #555;
}

.cart-page td a{
  color: #ff523b;
  font-size: 12px;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}

.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 360px;
}

.total-price td:last-child,.cart-page td:last-child,.cart-page th:last-child{
  text-align: right;
}

.cart-page h3{
  text-align: center;
}

#cart-item {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#cart-item td, #cart-item th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cart-item tr:nth-child(even){background-color: #f2f2f2;}

#cart-item tr:hover {background-color: #ddd;}

#cart-item th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff523b;
  color: white;
}

.total-price td:last-child,.cart-page td:last-child,#cart-item th:last-child{
  text-align: right;
}

.no-data{
  margin: 250px auto;
}

.no-data h3{
  color: rgb(128, 126, 126);
}

.fa-trash{
  cursor: pointer;
  font-size: 28px;
  padding-left: 20px;
}


/* style plus and minus */
.cssCircle {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;

  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 1px;
  float: right;

  background: #ff523b;
  border: 1px solid #ff523b;
  color: white;
  text-align: center;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  transition: color 0.2s linear;

  font: 14px Arial, sans-serif
}

.cssCircle:hover {
  background: white ;
  color: #ff523b;
  cursor: pointer;
}

.minusSign {
  line-height: 0.9em;
  margin-bottom: 1px;
}

.plusSign {
  line-height: 1.1em;
}

.minusSign:hover,
.plusSign:hover {
  color: #ff523b;
}

