  <!------------cart details--------------->
  <div class="small-container cart-page" *ngIf="cartItems != null">
    <table id="cart-item">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtoatal</th>
        </tr>
        <tr *ngFor="let cartitem of cartItems">
            <td>
              <div class="cart-info">
                  <img src="{{apiUrl}}/{{cartitem.image}}">
                  <div class="pro-info">
                      <p>{{cartitem.name}}</p>
                      <small>Price : ${{cartitem.price}}</small>
                      <br>
                      <a (click)="deleteItem(cartitem)" ><i class="fa fa-trash"></i></a>
                  </div>
              </div>
            </td>
            <td>{{cartitem.quantity}}</td>
            <td>${{cartitem.quantity * cartitem.price}}</td>
        </tr>
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Total</td>
                <td>${{totalAmount}}</td>
            </tr>
            <!-- <tr>
                <td>Tax</td>
                <td>23.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$223.00</td>
            </tr> -->
        </table>
    </div>

</div>

<div class="small-container cart-page" *ngIf="cartItems===null">
  <div class="no-data">
    <h3>No Item in Cart</h3>
  </div>
</div>
