<div class="container">
    <header>
        <h3 class="bg-dark text-white p-4 text-center">file upload in angular @ laravel </h3>
    </header>
    <form (ngSubmit)="onSubmit()" [formGroup]="imageForm">
        <div class="form-group">
            <label for="image">upload image</label>
            <input type="file" formControlName="image" name="image" id="image" class="form-control"
            (change)="uploadImage($event)" [ngClass]="{'is-invalid' : submitted && f.image.errors}">
            <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                <div *ngIf="f.image.errors.required">Image is Required</div>
            </div>
        </div>
        <button class="btn btn-dark btn-sm mt-4">upload</button>
    </form>
</div>
