/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}
.header{
  background: #fff;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 0px;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 80px;
  background: #fff;

}

nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

nav ul li::after{
  content: '';
  width:0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after{
  width: 100%;
}

nav ul li a{
  text-decoration: none;
  /* color: #555; */
  color: #ff523b;
  font-weight: 600;
  cursor: pointer;
}
p{
  color: #555;
}

.logo img{
  opacity: .8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.fa-shopping-cart{
  color: #ff523b;
  font-size: 24px;
}

.menu-icon{
  width: 28px;
  margin-left: 28px;
  display: none;
}

.fa-shopping-cart{
  cursor: pointer;
}
.cart .fa-shopping-cart{
  margin-right: 20px;
}

.cart .fa-user-circle-o{
  margin-left: 30px;
  font-size: 24px;
  color: #ff523b;
}
.cart a{
  cursor: pointer;
}

.menu {
	margin: 0;
	display: flex;
	list-style: none;
}

.menu a {
  position: relative;
  z-index: 2;
  display: block;
  letter-spacing: 0.01rem;
  padding: 1rem 1rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  transition: 0.2s;
}





/* --------------media query--------------- */
@media only screen and (max-width:800px){
  nav ul{
      position: absolute;
      top: 70px;
      right: 0;
      background: #333;
      width: 50%;
      text-align: center;
      box-sizing: border-box;
      overflow: hidden;
      transition: max-height 0.5s;
  }
  nav ul li{
      display: block;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  nav ul li a{
      color: #fff;
  }

  .menu-icon{
      display: block;
      cursor: pointer;

  }
  #menuItems{
    max-height: 0px;
  }
}

.fa-bars{
  color: #ff523b;
  font-size: 24px;
}

/* .cart .nav{
  display: none;
} */


@media only screen and (max-width:600px){
  .row{
      text-align: center;
  }

  .row-2 h2{
      font-size: 20px;
  }
  .row-2 select{
      display: block;
  }

  .col-2,.col-3,.col-4,.col-5,.footer-col-4,.footer-col-3,.footer-col-2,.footer-col-1{
      flex-basis: 100%;
  }

  .singel-product .row{
      text-align: left;
  }

  .singel-product .col-2{
      padding: 20px 0;
  }

  .singel-product input{
      width: 40px;
      height: 35px;
  }
  .singel-product h1{
      font-size: 26px;
      line-height: 36px;
  }

  .cart-info p{
      display: none;
  }

  .cart-info img{
      width: 140px;
      height: 80px;
  }

  .cart-page th{
      font-size: 14px;
  }

  .cart-page td input{
      width: 30px;
      height: 25px;
  }

  #menuItems{
    max-height: 0px;
  }

  /* .cart .nav{
    display: none;
  } */


}




.nav {
  list-style: none;
}

.nav li {
  list-style-type: none;
  float: left; /*1*/
  position: relative; /*2*/

}

.sub-nav li{
  width: 100px;
  align-items: center;
  background: radial-gradient(#fff,#ffd6d6);
}

.nav > li:first-of-type, /* 1 */
.nav > li:first-of-type a { /* 2 */
  border-radius: 5px 0 0 5px;
}

.nav > li:last-of-type, /* 1 */
.nav > li:last-of-type a { /* 2 */
  border-radius: 0 5px 5px 0;
}

.nav li a {
  display: block; /*1*/
  padding: 10px 12px;
  text-decoration: none; /*2*/
  color: #555;
  transition: all ease .5s; /*3*/
}
.nav:hover li a {
  opacity: .5;
  transition: all ease .5s;
}

.nav li:hover a {
  opacity: 1;
}

.sub-nav {
  position: absolute; /*1*/
  border-top: 15px solid transparent; /*2*/
  left: -9999px /*3*/
}

.nav li:hover > .sub-nav {
  left: 0;
}

.sub-nav li {
  white-space: nowrap; /*1*/
  padding: 1px; /*2*/
}

.sub-nav > li:first-of-type {
  border-radius: 5px 5px 0 0; /*1*/
}

.sub-nav > li:last-of-type {
  border-radius: 0 0 5px 5px; /*1*/
}

.sub-nav a {
  font-size: 90%; /*1*/
  transition: background ease .3s; /*3*/
}

.sub-nav .fa-sign-out{
  color: #ff523b;
}

.sub-nav .shop {
  width: 70px;
  border-radius: 10px;
}


.shop a{
  text-align: center;
}

/* .sub-nav a:hover {
  background: #3498DB;
} */
