        <!---------------single product details--------------->
        <div class="small-container  singel-product">
          <div class="row">
              <div class="coll-2">
                  <img src="./images/cat4.jfif" width="100%" height="350px" id="productImg">
                  <div class="small-img-row">
                      <div class="small-img-col">
                          <img src="./images/cat5.jfif" class="small-img">
                      </div>
                      <div class="small-img-col">
                          <img src="./images/cat4.jfif" class="small-img">
                      </div>
                      <div class="small-img-col">
                          <img src="./images/cat5.jfif" class="small-img">
                      </div>
                      <div class="small-img-col">
                          <img src="./images/cat4.jfif" class="small-img">
                      </div>
                  </div>
              </div>
              <div class="coll-2">
                  <p>Home / Samsoug Y9 Pro</p>
                  <h1>Product name Samsoug Y9 Pro</h1>
                  <h4>$60.000</h4>
                  <select>
                      <option >Select size</option>
                      <option >XXL</option>
                      <option >XL</option>
                      <option >Large</option>
                      <option >Medium</option>
                      <option >Small</option>
                  </select>
                  <input type="number" value="1">
                  <a href="#" class="bbtn">Add to Card</a>
                  <h3>
                      Product Details <i class="fa fa-indent"></i>
                  </h3>
                  <br>
                  <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                  </p>
              </div>
          </div>
      </div>
      <!-------------view more------------>
      <div class="small-container">
          <div class="row row-2">
              <h2>Related Product</h2>
              <p>View More</p>
          </div>
      </div>

      <!--------------products------------->
      <div class="small-container">
          <div class="row">
              <div class="coll-4">
                  <img src="./images/cat1.jfif">
                  <h4>Product name</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p>$30.00</p>
              </div>
              <div class="coll-4">
                  <img src="./images/cat2.jfif">
                  <h4>Product name</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p>$30.00</p>
              </div>
              <div class="coll-4">
                  <img src="./images/book1.png">
                  <h4>Product name</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <p>$30.00</p>
              </div>
              <div class="coll-4">
                  <img src="./images/cat3.jfif">
                  <h4>Product name</h4>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                  </div>
                  <p>$30.00</p>
              </div>
          </div>
      </div>
