        <!---------------single product details--------------->
        <div class="small-container  singel-product">
          <div class="row">
              <div class="coll-2">
                  <img src="{{apiUrl}}/{{Product.imgpath}}" width="100%" height="350px" id="productImg">
                  <!-- <div class="small-img-row">
                      <div class="small-img-col">
                          <img src="./images/cat5.jfif" class="small-img">
                      </div>
                      <div class="small-img-col">
                          <img src="./images/cat4.jfif" class="small-img">
                      </div>
                      <div class="small-img-col">
                          <img src="./images/cat5.jfif" class="small-img">
                      </div>
                      <div class="small-img-col">
                          <img src="./images/cat4.jfif" class="small-img">
                      </div>
                  </div> -->
              </div>
              <div class="coll-2">
                  <p>Product / {{Product.name}}</p>
                  <h1>{{Product.name}}</h1>
                  <h4>${{Product.price}}</h4>
                  <!-- <select>
                      <option >Select size</option>
                      <option >XXL</option>
                      <option >XL</option>
                      <option >Large</option>
                      <option >Medium</option>
                      <option >Small</option>
                  </select> -->
                  <input type="number" value="1">
                  <a  class="bbtn">Add to Card</a>
                  <h3>
                      Product Details <i class="fa fa-indent"></i>
                  </h3>
                  <br>
                  <p>{{Product.desc}}</p>
              </div>
          </div>
      </div>
      <!-------------view more------------>
      <div class="small-container">
          <div class="row row-2">
              <h2>Related Products</h2>
              <p class="view-more" (click)="showMore=!showMore">View More</p>
          </div>
      </div>

      <!--------------products------------->
      <div class="small-container">
        <div class="row" *ngIf="!showMore">
          <div class="coll-4">
              <img src="{{apiUrl}}/{{allProducts[allProducts.length-1].imgpath}}">
              <h4>{{allProducts[allProducts.length-1].name}}</h4>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
              </div>
              <p>${{allProducts[allProducts.length-1].price}}</p>
          </div>
          <div class="coll-4">
            <img src="{{apiUrl}}/{{allProducts[allProducts.length-2].imgpath}}">
            <h4>{{allProducts[allProducts.length-2].name}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>${{allProducts[allProducts.length-2].price}}</p>
        </div>
        <div class="coll-4">
          <img src="{{apiUrl}}/{{allProducts[allProducts.length-3].imgpath}}">
          <h4>{{allProducts[allProducts.length-3].name}}</h4>
          <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
          </div>
          <p>${{allProducts[allProducts.length-3].price}}</p>
      </div>
        </div>
        <div class="row" *ngIf="showMore">
            <div class="coll-4" *ngFor="let pro of allProducts">
                <img src="{{apiUrl}}/{{pro.imgpath}}">
                <h4>{{pro.name}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>${{pro.price}}</p>
            </div>
        </div>
      </div>
