 <!--------------footer-------------->
 <div class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>Download App For Android and ios Mobile Phone</p>
              <div class="app-logo">
                  <img src="assets/app-store3.png">
                  <img src="assets/google-store3.png">
              </div>
          </div>
          <div class="footer-col-2">
              <img src="assets/logo.jpg">
              <p>While using this site, you agree to have read and accepted <br>our terms of use,
                  cookie and privacy policy.
              </p>
          </div>
          <div class="footer-col-3">
              <h3>Usefull links</h3>
              <ul>
                  <li>Coupons</li>
                  <li>Blog Post</li>
                  <li>Return Policy</li>
                  <li>Join Affiliate</li>
              </ul>
          </div>
          <div class="footer-col-3">
              <h3>Follow Us</h3>
              <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a>Facebook</li>
                  <li><i class="fa fa-twitter"></i>Twitter</li>
                  <li><i class="fa fa-instagram"></i>Instagram</li>
                  <li><i class="fa fa-youtube"></i>Youtube</li>
              </ul>
          </div>
      </div>
      <hr>
      <p class="copyright">Copyright 2021 Reseved to RedStore</p>
  </div>
</div>
